.header {
  &__nav {
    padding: 20px;
  }
  &__menu {
    column-gap: 50px;
    text-align: right;
    justify-content: right;
    align-items: center;
    display: flex;
    &-home{
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
      color: black;
      margin-right: 600px;
    }
    &-home:hover{
      color:#7f00e0;
      text-decoration: underline;
    }
  &-item{
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    color: black;
  }
    &-item:hover{
      color:#7f00e0;
      text-decoration: underline;
    }
  }
  &__contacts{
    display: flex;
    align-items: center;
    column-gap: 6px;
  }
  &__contacts:hover{
    color:#7f00e0;
    text-decoration: underline;
  }
}