.project{
  background: #f4f9fc;
  &__row{
    padding: 30px 30px;
  }
  &__left{
    padding-right: 200px;
  }
  &__title{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
    color: #0f1b61;
  }
  &__card{
    color: #0f1b61;
    font-size: 25px;
    font-weight: 300;
    padding: 20px;
    margin-bottom: 50px;
    border: 1px solid darkblue;
    border-radius: 20px;
    a{
      color: white;
      cursor: pointer;
      background: navy;
      padding: 10px;
      border-radius: 18px;
    }
    a:hover{
      background: white;
      color: #0f1b61;
    }
  }
}