@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.5s;
}

.container {
  padding: 0 20px;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.header__nav {
  padding: 20px;
}
.header__menu {
  column-gap: 50px;
  text-align: right;
  justify-content: right;
  align-items: center;
  display: flex;
}
.header__menu-home {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  color: black;
  margin-right: 600px;
}
.header__menu-home:hover {
  color: #7f00e0;
  text-decoration: underline;
}
.header__menu-item {
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  color: black;
}
.header__menu-item:hover {
  color: #7f00e0;
  text-decoration: underline;
}
.header__contacts {
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.header__contacts:hover {
  color: #7f00e0;
  text-decoration: underline;
}

.home {
  background: #f4f9fc;
}
.home__row {
  align-items: center;
  padding: 100px 20px;
}
.home__info {
  justify-content: center;
}
.home__title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #0f1b61;
}
.home__text {
  font-size: 25px;
  font-weight: 500;
  margin-right: 600px;
  margin-bottom: 50px;
  line-height: 40px;
  color: #0f1b61;
}
.home__more {
  padding: 0 910px 20px 0;
}
.home__btn {
  background: navy;
  padding: 20px 30px;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  font-weight: 400;
  cursor: pointer;
}
.home__btn:hover {
  color: navy;
  background: white;
}

.about {
  background: #f4f9fc;
}
.about__row {
  align-items: center;
  padding: 30px;
  margin-bottom: 50px;
}
.about__title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #0f1b61;
}
.about__skills {
  margin-top: 60px;
}
.about__list {
  font-size: 25px;
  font-weight: 300;
  align-items: center;
  color: #0f1b61;
}
.about__list-item {
  margin-bottom: 16px;
  align-items: center;
}
.about__list-item::before {
  content: "•";
  font-size: 1em;
  color: #7f00e0;
}
.about__texts {
  margin-bottom: 20px;
  color: #0f1b61;
  font-weight: 400;
  font-size: 25px;
}
.about__text {
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 30px;
  color: #0f1b61;
}

.project {
  background: #f4f9fc;
}
.project__row {
  padding: 30px 30px;
}
.project__left {
  padding-right: 200px;
}
.project__title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 50px;
  color: #0f1b61;
}
.project__card {
  color: #0f1b61;
  font-size: 25px;
  font-weight: 300;
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid darkblue;
  border-radius: 20px;
}
.project__card a {
  color: white;
  cursor: pointer;
  background: navy;
  padding: 10px;
  border-radius: 18px;
}
.project__card a:hover {
  background: white;
  color: #0f1b61;
}

.contacts {
  background: #aadcec;
}
.contacts__row {
  padding: 200px 50px;
}
.contacts__info {
  align-items: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 300;
  display: flex;
  column-gap: 15px;
  color: white;
}
.contacts__info a {
  color: white;
}

/*# sourceMappingURL=style.css.map */
